*{
  margin: 0;
}
.nav{
    padding: 10px;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    position: relative;
}
.dropdown{
  width: 25%;
  background-color: dodgerblue;
  padding: 10px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  box-shadow: 0px 0px 2px 0px rgb(235, 231, 231);
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
  
.checkboxcontainer{
  background-color: #fff;
  width: 96%;
  height: 230px;
  margin:auto;
  margin-top: 4%;
  box-shadow: 0px 0px 3px 0px rgb(207, 203, 203);
  cursor: pointer;
  overflow-y: scroll;
}
.inputbox{
  padding: 10px;
  cursor: pointer;
}
.maincontainer{
  width: 25%;
  height: 250px;
  margin-top: 3.5%;
  box-shadow: 0px 0px 3px 0px rgb(165, 162, 162);
  position: absolute;
}
.inputcheckbox{
  width: 20px;
  height: 20px;
}
